<h1>{{this.title}}</h1>
<p>Test cookie value : {{this.cookieValue|json}}</p>
<h2>New</h2>
<nav>
  <ul>
    <li><a routerLink="/product-list" routerLinkActive="active" ariaCurrentWhenActive="page">Backend Call Demo</a></li>
    <li><a routerLink="/resource-picker" routerLinkActive="active" ariaCurrentWhenActive="page">Shopify Admin Call Demo</a></li>
    <li><a routerLink="/needs-subscription" routerLinkActive="active" ariaCurrentWhenActive="page">Choose a subscription plan</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
