<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Pricing</h1>
  <p class="lead">Please subscribe to one of the following recurring pricing model.</p>
</div>
<div class="container">
  <div class="row col-12 mb-3 text-center">
    @for (plan of this.billingPlans; track plan.id) {
      <div class="col">
        <div class="card mb-4 box-shadow">
          <div class="card-header" [ngClass]="{'bg-success': plan.isBestValue}">
            <h4 class="my-0 font-weight-normal">{{ plan.planName }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              {{ plan.price | currency:'usd' }} <small class="text-muted">/ mo</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              @for (d of this.GetBulletPoints(plan.bulletPoints); track d) {
                <li>{{ d }}</li>
              }
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="this.createRecCharge(plan.id)" >Subscribe</button>
          </div>
        </div>
      </div>
    } @empty {
      <div class="alert alert-info">There are no billing plans.</div>
    }
  </div>
</div>
